<div class="full-page">
  <main class="full-page__content">
    <section class="section">
      <div class="container">
        <title>My Projects</title>
        <div class="row--middle">
          <div class="row__item item--large">

            <h1>Final Project - Etch</h1>

            <p>
              The culmination of The Iron Yard came down to our final project. We were to pitch ideas for our projects
              and had some guidelines: had to be a CRUD web app, yet be a Minimal Viable Product within a three week
              timetable.</p>
            <p> Kudos to all of my cohort! They all had fantastic and creative ideas! I was so surprised that an idea I
              pitched got selected. I had the honor of working with a great partner who LOVES design. Our app is called
              Etch, and the idea was to tag a memory to a song. The app can be found <a href="http://etch-memories.herokuapp.com">here</a>.
              </p>
              <button class="etch-link">View on GitHub</button>
          </div>

          <div class="row__item row__item--small">
            <img src="/img/Etch_optim.png" alt="">
          </div>
        </div>
        <div class="row">
          <div class="row__item item--large">

            <h1>Flexbox Practice</h1>

            <p>
              I remember how challenging and difficult I found making "boxes" to be on a page. Once my perspective was
              changed, and I learned a new way to look at boxes and breaking each portion up into a separate section,
              giving each item it's own container. However,
              with this assignment being a grid, I quickly learned to focus on just making one box to create this blog,
              and then to just copy and paste to however many posts are needed.
            </p>
          </div>

          <div class="row__item row__item--small">
            <img src="/img/flexbox.png" alt="">
          </div>
        </div>
        <div class="row--middle">
          <div class="row__item item--large">

            <h1>Github Mockup</h1>

            <p>
              We were assigned homework to recreate a mockup of Github, in which also gave me the opportunity to explore
              Github a bit more. Becoming a new developer, Github is a very central tool for me to be able to save code
              of applications, projects of any kind
              for that matter, to an external server that also allows for public contribution from other developers. As
              you will notice in the screenshot, this assignment also involved boxes in a grid-layout. I'm not really
              sure I can explain it, but
              for some reason grids and boxes were not my friend. Fortunately, I was able to have more practice and get
              very familiar with laying out boxes in grid formats.
            </p>
          </div>

          <div class="row__item row__item--small">
            <img src="/img/github_mockup.png" alt="">
          </div>
        </div>
        <div class="row">
          <div class="row__item item--large">

            <h1>Surf & Paddle</h1>

            <p>
              Surf & Paddle was rather a much bigger assignment. Usually, our assignments tasked to us over the weekends
              entailed a much greater challenge and involved more to be completed. The screenshot only shows a portion
              of the page, but if you'll notice, it looks
              very similar to a personal lifestyle, or even travel blog. Getting the concept of building a website
              around a "Hero", or one main image as the focal point of what is seen once the page is loaded in.
            </p>
          </div>

          <div class="row__item row__item--small">
            <img src="/img/surfpaddle.png" alt="">
          </div>
        </div>

      </div>

    </section>
  </main>
</div>
{{outlet}}