<div class="full-page">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Chris McNeese</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/about">Home </a>
      </li>
      <!-- <span class="sr-only">(current)</span> -->
      <li class="nav-item">
        <a class="nav-link" href="/">Portfolio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/blog">Skills</a>
      </li>
    </ul>
  </div>
</nav>
  <section class="section">
    <div class="container">
        <div class="grid">
          <div class="grid__item">
            <div class="top-box">
              <h2 class="title">MY TOOLBELT</h2>

            </div>
            <div class="skills-card">
              <p class="skills-card_item">HTML5</p>
              <p class="skills-card_item">CSS3</p>
              <p class="skills-card_item">CLI</p>
              <p class="skills-card_item">Git</p>
              <p class="skills-card_item">JavaScript</p>
              <p class="skills-card_item">SASS</p>
              <p class="skills-card_item">Adonis.js</p>
              <p class="skills-card_item">BootStrap</p>
              <p class="skills-card_item">Ember.js</p>
              <p class="skills-card_item">FlexBox</p>
              <p class="skills-card_item">Vue.js</p>
              <p class="skills-card_item">WordPress</p>
              <p class="skills-card_item">PHP</p>
            </div>
          </div>

        </div>
    </div>
  </section>
</div>
  <footer class="lower-nav">
    <ul class="lower-nav__group">
      <li class="lower-nav__group--nav-item"><a href="https://www.twitter.com/thechrismcneese"><span class="fa fa-twitter"></span></a></li>
      <li class="lower-nav__group--nav-item"><a href="https://www.facebook.com"><span class="fa fa-facebook"></span></a></li>
      <li class="lower-nav__group--nav-item"><a href="https://www.github.com/cmcneese"><span class="fa fa-github"></span></a></li>
      <li class="lower-nav__group--nav-item"><a href="https://www.linkedin.com/in/chrismcneese"><span class="fa fa-linkedin"></span></a></li>
    </ul>
  </footer>
{{outlet}}
