<div class="full-page">
  <section class="section">
    <div class="container">
      <h4>About Me</h4>
      <p> Hello world! I am a web developer with focus on user experience, or UX. The lovely city of Nashville is where
        I call home. This place, a lot like me, is ever-changing and growing. I am a lover of good coffee, tasty beer,
        and great music!
      </p>
      <p>Staying focused on the long-term vision of providing for my family and striving to make a betterquality of life
        is a reminder that drives me to never settle for mediocrity, but to keep pressingforward in doing my very best
        in all I put my hands to.
      </p>
      <p>I have been able to overcome many tough obstacles in this journey of life through determination and
        persistance.
      </p>
      <div class="row">
        <div class="row__item row__item--small">
          <div class="about-picture">
            <img src="/img/downtown.jpg" alt="downtown" class="about-picture__img">
            <div class="about-picture__caption">
              <h1>Nashville Skyline</h1>
              <p>This view never gets old!</p>
            </div>
          </div>
        </div>

        <div class="row__item row__item--small">
          <div class="about-picture">
            <img src="/img/marathon.jpg" alt="down" class="about-picture__img">
            <div class="about-picture__caption">
              <h1>Marathon Motor Works</h1>
              <p>This place is full of timeless history!</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
</div>



{{outlet}}
