<div class="full-page">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/about">Chris McNeese</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/about">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">Portfolio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/blog">Skills</a>
      </li>
    </ul>
  </div>
</nav>

  <div class="full-page__content">
    <section class="section section--hero">
        <div class="container">
          <div>
            <img class="profile-pic" src="/img/MonoProfile.jpg" alt=""/>
          </div>
          <h1 class="hero-tag">Chris McNeese</h1>
        </div>
    </section>
  </div>

  <section class="section">
    <div class="container">
      <h4>About Me</h4>
      <p> Hello world! I am a web developer with focus on user experience, or UX. The lovely city of Nashville is where I call home. This place, a lot like me, is ever-changing and growing. I am a lover of good coffee, tasty beer, and great music!</p>
      <p>Staying focused on the long-term vision of providing for my family and striving to make a betterquality of life is a reminder that drives me to never settle for mediocrity, but to keep pressingforward in doing my very best in all I put my hands to.</p>
      <p>I have been able to overcome many tough obstacles in this journey of life through determination and persistance.</p>
      <div class="row">
        <div class="row__item row__item--small">
          <div class="about-picture">
            <img src="/img/downtown.jpg" alt="downtown" class="about-picture__img">
            <div class="about-picture__caption">
              <h1>Nashville Skyline</h1>
              <p>This view never gets old!</p>
            </div>
          </div>
        </div>

        <div class="row__item row__item--small">
          <div class="about-picture">
            <img src="/img/marathon.jpg" alt="down" class="about-picture__img">
            <div class="about-picture__caption">
              <h1>Marathon Motor Works</h1>
              <p>This place is full of timeless history!</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
</div>

<footer class="lower-nav">
    <ul class="lower-nav__group">
      <li class="lower-nav__group--nav-item"><a href="https://www.twitter.com/thechrismcneese"><span class="fa fa-twitter"></span></a></li>
      <li class="lower-nav__group--nav-item"><a href="https://www.facebook.com"><span class="fa fa-facebook"></span></a></li>
      <li class="lower-nav__group--nav-item"><a href="https://www.github.com/cmcneese"><span class="fa fa-github"></span></a></li>
      <li class="lower-nav__group--nav-item"><a href="https://www.linkedin.com/in/chrismcneese"><span class="fa fa-linkedin"></span></a></li>
    </ul>
  </footer>

{{outlet}}
